<div class="w-75 border form-new form-control mx-auto">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="my-4">
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    </div>
    {{ form_end(form) }}
</div>



